{% extends "base.html" %}

{% block title %}
    <title>Books</title>
{% endblock %}

{% block content %}
    <table>
        <tr class="table-head">
            <th>Name</th>
            <th>Author</th>
            <th>Category</th>
            <th>Describe</th>
            <th>Publication_date</th>
            <th>Add to archive</th>
        </tr>
        
        {% for book in books %}
        <tr class={{ loop.cycle('even', 'odd') }}>
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.category}}</td>
            <td>{{book.describe}}</td>
            <td>{{book.publication_date}}</td>
            <td style="text-align: center;">
                {{book.id}} {{user_books}}
                {% if active_user_id %}
                    {% if book.id in user_books %}
                        <a href="/user/{{active_user_id}}/archive/book/{{book.id}}/remove">Remove</a>
                    {% else %}
                        <a href="/user/{{active_user_id}}/archive/book/{{book.id}}/add">Add</a>
                    {% endif %}
                {% else %}
                    <a href="/login">Add</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}