{% extends 'base.html' %}

{% block main %}
<form method="POST" action="/sign_up">
    <fieldset>
        <legend>Имя:</legend>
        <label for="firstName"></label>
        <input id="firstName" name="firstName" placeholder="First Name"/>

        <label for="lastName"></label>
        <input id="lastName" name="lastName" placeholder="Last Name"/>
    </fieldset>
    <fieldset>
        <legend>Верификация:</legend>
        <label for="password"></label>
        <input id="password" name="password" placeholder="Password"/>

        <label for="email"></label>
        <input id="email" name="email" placeholder="email"/>
    </fieldset>

    <button type="submit">Регистрация</button>
</form>
{% endblock %}